/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  @apply scrollbar-hide;
}
#__next {
  overflow-x: hidden;
  @apply scrollbar-hide;
}

.heart {
  color: red;
}
body,
button {
  font-style: oblique;
}

.blur {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.title-link:hover,
.logo:hover {
  animation: tilt ease-in-out 0.5s;
}

sidebar {
  top: 10vh;
}

.grecaptcha-badge {
  z-index: 100;
}

@keyframes tilt {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0);
  }
}
